.about-page {
    text-align: center;
}

.about-page h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 100px;
    width: 180px;
    border-bottom: 3px solid #2c2c2c;
    margin: 0 auto;
}



.about-us-section{
    height: 400px;
    background-color: #fff8ee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
    color: #2c2c2c;
}

.about-us-section img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
}

.about-text {
    width: 600px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
    padding-top: 20px;
  
}

.contact-section {
    background-color: #e8cfcb;
}